{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Estoque</title>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <h1>Estoque</h1>
        <table>
        <thead>
            <tr>
            <th>Nome</th>
            <th>Preco</th>
            <th>Quantidade</th>
            <th>Promocao</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'index' %}">{{est.nome}}</a></td>
                <td>{{est.preco}}</td>
                <td>{{est.quantidade}}</td>
                <td>{{est.promocao}}</td>
            </tr>
        </tbody>
    </table>

    <button onclick="data_atual()" class="botaoHora">Ver dia atual</button>

</body>
</html>