{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Management Stock</title>
</head>
<body>
    <h1>Bem-Vindo ao controle de estoque online</h1>
    <img src="{% static 'images/estoque_caixas.jpg' %}" alt="">

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preco</th>
            </tr>
        </thead>
        <tbody>
            {% for estoque in estoques %}
            <tr>
                <td><a href="{% url 'estoque' estoque.id %}">{{estoque.nome}}</a></td>
                <td>{{estoque.preco}} R$</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>